.avatar {
  position: relative;
  max-width: 135px;
}

.avatar-link {
  text-decoration: none;
}

.avatar-thumb {
  display: block;
  width: 10vw;
  height: 10vw;
  max-height: 200px;
  max-width: 200px;
  min-width: 84px;
  min-height: 85px;
  border: .3em solid rgba(0,0,0,.4);
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-name {
  display: block;
  text-align: center;
  color: grey;
  line-height: 60px;
  font-size: 1.3vw;
}

.avatar-link:hover .avatar-thumb {
  border-color: #FFF;
}

.avatar-link:hover .avatar-name {
  color: #FFF;
}

@media screen and (max-width: 800px) {
  .avatar-name {
    font-size: 12px;
  }
}
