html {
  font-size: 14px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

body {
  background-color: #141414;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.profile-container {
  display: flex;
  position: absolute;
	justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.profile-title {
  color: #FFF;
  font-size: 3.5vw;
  font-weight: 100;
}

.profile-users li {
  display: inline-block;
}

.profile-users li + li {
	margin-left: 40px;
}

.profile-list {
  max-width: 80%;
}
